





<div class = "todo_form">

		<h3>New To Do</h3>
<%= form_for(TodoItem.new, :remote => true) do |f| %>




<div class = "field">
<p>Name</p>
		<%= f.text_field :name %>

</div>

<div class = "field">
	<p>Location</p>
		<%= f.text_field :location %>

</div>
<div class = "field">
		<%= f.submit  %>

</div>

<% end %>


</div>
<br/>