<div id ="main">
<h2><%= destination.name %></h2>

<% destination.todo_items.each do |d| %>


<h2><%= render d %></h2>



<% end %>

<%= render :partial => 'todo_items/form', :locals => { :destination_id => destination.id } %> 
</div>
