<div class = "destination_div">
	<div class = "destination_name">
<h2><%= destination.name %></h2>
		</div>
<div id ="main">
<% destination.todo_items.each do |d| %>


<%= render d %>



<% end %>

<%= render :partial => 'todo_items/form', :locals => { :destination_id => destination.id } %> 
</div>

</div>