/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body{
		background-color: lightblue;
		text-align: center;
}

#form_map{
	margin: 0 auto;
}

.toggle{

	color: blue;

	

}

h3#name {

color: black;
border: 1px solid black;
font-size: 30px;
background-color: #FFDA8A;

}

#nav{

	margin-top: -30px;
	margin-left: -10px;
	width: 102%;
	height: 150px;
	background-image: linear-gradient(bottom, rgb(21,26,25) 38%, rgb(76,82,81) 69%, rgb(169,161,171) 85%);
	background-image: -o-linear-gradient(bottom, rgb(21,26,25) 38%, rgb(76,82,81) 69%, rgb(169,161,171) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(21,26,25) 38%, rgb(76,82,81) 69%, rgb(169,161,171) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(21,26,25) 38%, rgb(76,82,81) 69%, rgb(169,161,171) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(21,26,25) 38%, rgb(76,82,81) 69%, rgb(169,161,171) 85%);
	margin-bottom: 50px;
	color: white;
	border: 3px solid white;
	 -moz-box-shadow:    3px 5px 3px 5px #000;
  	-webkit-box-shadow: 3px 5px 3px 5px #000;
  	box-shadow:         3px 5px 8px 2px #000;
}

#nav > h1 {
	text-align: center;
	font-size: 50px;
	padding-top: 25px;
	font-family: Futura;
}

a {
	text-decoration: none;
	font-weight: bold;
}

