// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.comment{
	width: 200px;
	height:50px;
	border: 1px solid black;
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
	background-color: white;
}

div#main {
	float: left;
	border: 1px solid black;
	background-color: gray;
	
}