// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.todo_form {
	border: 1px solid black;
	width: 300px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 10px;
}